html,body,#app{
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}
.el-breadcrumb{
  margin-bottom: 15px;
}
.el-table{
  margin-top: 15px;
  font-size: 12px;
}
.el-pagination{
  margin-top: 20px;
}
/* 解决options数据过大溢出问题 */
.el-cascader-menu{
  height: 300px;
}
/* 设置富文本编辑器的最小高度 */
.ql-editor{
  min-height: 300px;
}